@charset "utf-8";
/*统一设置*/
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	
}
ul,li{
	list-style: none;
}
/*自定义字体图标*/
@font-face {
	font-family:iconfont;
	src: url(../font/font_1419313818_3473415.ttf);
}
html,body{
	height: 100%;
	position: relative;
	background: #2c2769;
	overflow: hidden;
	
}

/*主内容区*/
#main{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 46px;
	overflow-y: auto;
	transition: all 1s;
	-webkit-transition: all 1s;
}
.bg{
	background:-webkit-radial-gradient(center, ellipse cover, #dee6cf 0, #4696ad 100%)
}

/*轮播图片*/
.swiper-slide img{
	display: block;
	width: 100%;
}

/*内容区*/
.container{
	width: 100%;
	position: relative;
	
}
marquee{
	font-size: 0.8em;
	margin: 0.5em 0;
}


/*图片列表*/
.containter ul{
	overflow: hidden;
}

.containter ul li{
	position: relative;
	overflow: hidden;
	width: 44%;
	margin-left:4%;
	margin-bottom: 4%;
	float: left;
}
.containter ul li img{
	display: block;
	width: 100%;
}
.containter ul li .on{
	position: absolute;
	top: 0;
}
.containter ul li dl{
	position: absolute;
	top: 0;
	right: 0.8em;
	color: #FFFFFF;
	font-size: 0.8em;
	padding-top: 0.8em;
}
.containter ul li dl dt{
	font-family: iconfont;
}

/*底部导航*/
footer{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #FFFFFF;
	background: #2c2769 ;
	transition: all 1s; 
	-webkit-transition: all 1s;
}
footer a{
	display: block;
	width: 33.33%;
	text-align: center;
	color: #FFFFFF;
	float: left;
	padding: 0.2em 0;
}
footer a b{
	display: block;
	font-family: iconfont;
	font-weight: 400;
	font-size: 1.5em;
}
footer a i{
	display: block;
	font-style: normal;
	font-size: 0.8em;
}

/*左侧导航菜单*/
.left-nav{
	position: absolute;
	left: 0;
	right: 40%;
	top: 0;
	bottom: 0;
	background: #666;
	color: #eee;
	font-size: 0.8em;
	line-height: 2.5em;
	visibility: hidden;
}
.left-nav h2{
	font-weight: normal;
	background: #444;
	padding-left: 2em;
}
.left-nav ul li{
	padding-left: 0.75em;
	border-bottom: 1px solid #999;
}
/*侧滑移动样式*/
.navon{
	transform:translateX(60%);
	-webkit-transform: translateX(60%);
}
